@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  display: block;
  color: inherit; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn-scroll, .btn-more, .slide__btns li button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer; }

.slide li .shows__category::before, .slide li .shows__category::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  background-color: #ffcc00;
  width: 2px;
  height: 100%; }

.content-container {
  max-width: 75rem;
  padding: 0.625em 0 8rem 0;
  margin: 0 auto 8em auto; }

body {
  font-family: "KoPubDotumMedium", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth; }

.page_container {
  display: flex;
  flex-direction: column;
  overflow: hidden; }

@font-face {
  font-family: "KoPubDotumMedium";
  src: url("../font/KOPUBWORLD_TTF_FONTS-1/KoPubWorld Dotum Medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "KoPubDotumBold";
  src: url("../font/KOPUBWORLD_TTF_FONTS-1/KoPubWorld Dotum Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GeographRegular";
  src: url("../font/geograph-edit-cufonfonts/geographeditwebregular.ttf") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GeographBold";
  src: url("../font/geograph-edit-cufonfonts/geographwebbold.ttf") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "GeographThin";
  src: url("../font/geograph-edit-cufonfonts/geographeditwebthin.ttf") format("woff");
  font-weight: normal;
  font-style: normal; }

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

/*레이아웃*/
.row-container {
  max-width: 75em;
  margin: 2.813em auto;
  display: flex; }

.dropdown__wrap {
  justify-content: flex-end; }

.pagination__wrap {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5em; }

/* 별 */
main {
  position: relative; }

i {
  position: absolute;
  background: white;
  border-radius: 50%;
  z-index: -2;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white;
  animation: twinkle 2s linear infinite; }

.slide-in-right {
  -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s; }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

.fade-in {
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes twinkle {
  0% {
    opacity: 0; }
  10% {
    opacity: 0.5; }
  90% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

#nav {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 100vw;
  padding: 0.6rem;
  z-index: 999;
  transition: 0.5s; }

.main__nav {
  position: fixed;
  transform: translate(-50%, 0);
  top: 0;
  left: 50%; }

.nav__logo {
  display: block; }

.nav__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .nav__menu li:hover > a::after {
    width: 100%; }
  .nav__menu li a {
    position: relative;
    display: block;
    color: inherit;
    font-size: 1.25rem;
    padding: 1rem;
    text-shadow: #333 1px 0 10px; }
    .nav__menu li a::after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      background-color: #ffcc00;
      transition: 0.2s;
      bottom: 0.313rem;
      height: 4px; }

#nav.is-Down {
  transform: translate(-50%, 0); }

#nav.is-Up {
  transform: translate(-50%, -100%); }

.nav--fixed {
  background-color: rgba(0, 0, 0, 0.5); }

.main-header {
  position: relative;
  width: 100vw;
  height: 100vh; }

.header__overlay {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  font-family: "GeographRegular";
  display: flex;
  justify-content: space-around;
  align-items: center; }

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1; }

.header__main-title {
  width: 50rem;
  position: relative;
  padding-left: 2em; }
  .header__main-title::before {
    position: absolute;
    display: block;
    content: "";
    width: 0.313rem;
    height: 95%;
    background-color: #ffcc00;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9; }
  .header__main-title h2 {
    font-family: "GeographRegular";
    font-size: 3.75rem;
    line-height: 5rem; }
  .header__main-title h3 {
    font-family: "KoPubDotumMedium";
    font-size: 1.7rem;
    letter-spacing: 0.025rem;
    line-height: 4rem; }

.header__social > li > a {
  display: block;
  margin: 2rem;
  opacity: 0.5;
  transition: 0.3s; }
  .header__social > li > a:hover {
    opacity: 1; }

.btn-scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
  transition: 0.2s; }
  .btn-scroll:hover {
    opacity: 1; }

.btn-scroll__mouse {
  position: relative;
  display: block;
  border: 2px solid white;
  width: 1.875em;
  height: 3.125em;
  border-radius: 0.938em; }

.btn-scroll__wheel {
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 35%;
  background-color: #ffcc00;
  border-radius: 20%; }

.btn-scroll__text {
  font-family: "GeographThin";
  line-height: 1.2;
  font-size: 1.5rem;
  color: white; }

.btn-more {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 2em;
  font-family: "GeographBold";
  font-size: 1em;
  letter-spacing: 0.075em; }
  .btn-more:hover > .btn-more__text::after {
    height: 100%; }
  .btn-more:hover .btn-more__icon {
    transform: rotate(180deg); }

.btn-more__icon {
  color: white;
  font-size: 1.2em;
  margin-bottom: -5px;
  transition: 0.2s; }

.btn-more__text {
  position: relative; }
  .btn-more__text::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    background-color: #ffcc00;
    transition: 0.2s;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    bottom: -3px;
    z-index: -1; }
  .btn-more__text:hover {
    color: black; }

/* 메인 섹션 컴포넌트 */
.content-container {
  position: relative; }
  .content-container .container-title {
    position: relative;
    font-family: "GeographRegular";
    font-size: 2.5rem;
    letter-spacing: 0.025rem;
    width: max-content;
    margin: 2.7em 0; }
  .content-container .wrap--flex {
    display: flex;
    justify-content: flex-start; }
  .content-container:not(:nth-child(3)) {
    opacity: 0; }

.marker-left::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  background-color: #ffcc00;
  left: -1rem;
  width: 3px;
  height: 100%;
  z-index: 9; }

.article__headline {
  font-family: "KoPubDotumBold";
  font-size: 1.563rem;
  line-height: 1.2;
  margin-top: 0.5em; }

.article__subtitle {
  font-size: 1.25rem;
  line-height: 2.5rem; }

.post-link .article__headline {
  position: relative;
  width: max-content; }
  .post-link .article__headline::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    background-color: #ffcc00;
    transition: 0.2s;
    height: 2px;
    bottom: -3px;
    z-index: -1; }

.post-link:hover .article__headline::after {
  width: 100%; }

.post-link figure {
  overflow: hidden;
  width: max-content;
  height: max-content; }

.post-link .post__thumbnail {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.post-link:hover .post__thumbnail {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

/* 뉴스, 매거진, 스토어 세부 css */
.news__article:not(:last-child) {
  margin-right: 1.25em; }

.magazine__article:first-child,
.store__article:first-child {
  margin-right: 5rem; }

/* 쇼 프로그램 */
#shows {
  position: relative; }

.slide-container {
  position: relative;
  width: 550px;
  height: 360px;
  display: flex; }

.shows__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100vw;
  height: 120%;
  z-index: -3;
  background: center/cover no-repeat url("../img/show_bg.jpg"); }

.slide__btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5em; }
  .slide__btns li {
    float: left;
    margin-right: 5em; }
    .slide__btns li button span {
      font-size: 2.5rem; }
    .slide__btns li button:first-child {
      margin-right: 3em; }

.disabled {
  opacity: 0.3; }

.on {
  opacity: 1; }

.off {
  opacity: 0; }

.slide {
  width: 800%;
  position: absolute;
  left: 0;
  transform: translateX(1000px);
  opacity: 0; }
  .slide li {
    float: left;
    margin-right: 5em; }
    .slide li figure {
      width: 500px;
      height: 320px;
      overflow: hidden; }
    .slide li:hover img {
      transform: scale(1.05); }
    .slide li span {
      font-family: "KoPubDotumBold"; }
    .slide li img {
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    .slide li .shows__category {
      position: relative;
      display: block;
      width: max-content;
      margin-top: 1em;
      font-size: 1.25em;
      letter-spacing: 0.05em;
      padding: 0 1em 0 1em; }
      .slide li .shows__category::before {
        top: 50%;
        transform: translateY(-50%);
        left: 0; }
      .slide li .shows__category::after {
        right: 0;
        top: 50%;
        transform: translateY(-50%); }
    .slide li .show__title {
      display: block;
      font-size: 1.563rem;
      line-height: 2.5em; }
    .slide li:last-child {
      width: 8%;
      height: 100%; }
  .slide .slide_more {
    position: relative;
    width: 500px;
    height: 320px; }
    .slide .slide_more div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-family: "GeographBold";
      font-size: 2em;
      letter-spacing: 0.05em; }
      .slide .slide_more div::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        background-color: #ffcc00;
        transition: 0.2s;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        width: 100%;
        bottom: -3px;
        z-index: -1; }
      .slide .slide_more div .btn-more__icon {
        font-family: 'Material Icons';
        transition: 0.2s; }
    .slide .slide_more:hover div {
      color: black; }
      .slide .slide_more:hover div::after {
        height: 100%; }
      .slide .slide_more:hover div span {
        transform: rotate(180deg); }

/* 스토어 */
#store .post-link {
  transition: 0.3s; }
  #store .post-link:hover {
    padding: 0.7em 1em;
    margin: -0.7em -0.5em;
    background: #ffcc00; }
    #store .post-link:hover .article__headline::after {
      width: 0; }
    #store .post-link:hover h5,
    #store .post-link:hover span {
      color: black; }

#store .store__article--first:hover ~ .store__article--second {
  margin-left: -1em; }

#store .store__article--second {
  transition: 0.3s; }

/* 푸터 */
#footer {
  background-color: #151515;
  color: #a2a2a2;
  padding: 3em 5em; }

.footer__wrap {
  max-width: 75rem;
  margin: 0 auto; }

.footer__menu li, .footer__address li {
  float: left;
  padding: 1em; }

.footer__menu::after {
  display: block;
  content: "";
  clear: both; }

address {
  margin: 1em 0; }

.footer__address::after {
  display: block;
  content: "";
  clear: both; }

.footer__address li:first-child > span {
  position: relative; }
  .footer__address li:first-child > span::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: "";
    background-color: #a2a2a2;
    width: 1px;
    height: 100%;
    right: -1em; }

.footer__address li .footer__address__part-name,
.footer__address li .footer__address__phone-number {
  display: block;
  font-size: 0.8rem; }

.footer__info {
  padding: 1em;
  margin-top: 1em;
  font-size: 0.8rem; }
  .footer__info::after {
    display: block;
    content: "";
    clear: both; }
  .footer__info .footer__info__copyright {
    display: block;
    float: left;
    margin-right: 2em; }
  .footer__info .footer__info__link::after {
    display: block;
    content: "";
    clear: both; }
  .footer__info .footer__info__link li {
    float: left;
    margin-right: 1em; }
