//reset css
@import "base/reset";

// 변수 불러오기
@import "abstracts/variables.scss";

//베이스 설정
@import "base/base";
@import "base/typhography.scss";

//애니메이션
@import "base/animations";

//내비게이션
@import "layout/navigation";

// 헤더
@import "layout/header";

//버튼
@import "components/buttons";

/* main */
section a {
  display: block;
}
.content-container {
  position: relative;
  max-width: 1200px;
  padding: 10px 0 8em 0;
  margin: 0 auto 8em auto;
}
.container-title {
  position: relative;
  display: block;
  font-family: "GeographRegular";
  font-size: 40px;
  width: max-content;
  letter-spacing: 0.025em;
  color: white;
  margin: 2.7em 0;
}
.container-title::before {
  position: absolute;
  display: block;
  content: "";
  width: 3px;
  height: 100%;
  background-color: $color-yellow;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.news__wrap,
.magazine__wrap,
.store__wrap {
  display: flex;
  justify-content: flex-start;
}

/* 뉴스 */
section:not(:nth-child(3)) {
  opacity: 0;
}
.news__article:not(:last-child) {
  margin-right: 1.25em;
}
.news__article_headline,
.store__article_headline,
.magazine__article_headline {
  font-family: "KoPubDotumBold";
  font-size: 1.563rem;
  color: white;
  line-height: 1.2;
  margin-top: 0.5em;
}
.magazine__article_subtitle,
.store__article_subtitle {
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: white;
}
/* 포스트 제목 호버 효과 */
.news__article_headline,
.magazine__article_headline {
  position: relative;
  width: max-content;
}

.news__article_headline::after,
.magazine__article_headline::after {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 0;
  background-color: $color-yellow;
  left: 0;
  bottom: -3px;
  z-index: -1;
  transition: 0.2s;
}

/* 호버효과 */
.post-link > figure {
  overflow: hidden;
}
#news figure {
  width: 382px;
  height: 240px;
}
#magazine figure,
#store figure {
  width: 550px;
  height: 250px;
}
.post__thumbnail,
.slide img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.post-link:hover .post__thumbnail {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.post-link:hover .news__article_headline::after,
.post-link:hover .magazine__article_headline::after {
  width: 100%;
}

/* 매거진 */
.magazine__article:first-child,
.store__article:first-child {
  margin-right: 5rem;
}

/* 쇼 프로그램 */
#shows {
  position: relative;
}
.slide-container {
  position: relative;
  width: 550px;
  height: 360px;
  display: flex;
}
.shows__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100vw;
  height: 120%;
  z-index: -3;
  background: center / cover no-repeat url("../img/show_bg.jpg");
}
.slide {
  width: 800%;
  position: absolute;
  left: 0;
  transform: translateX(1000px);
  opacity: 0;
}
.slide__btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.5em;
}
.slide__btns > li > button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
.slide__btns > li > button > span {
  font-size: 2.5rem;
}
.slide__btns > li > button:first-child {
  margin-right: 3em;
}
.disabled {
  opacity: 0.3;
}
.off {
  opacity: 0;
}
.on {
  opacity: 1;
}
.slide > li {
  float: left;
  margin-right: 5em;
}
/* 호버 효과 */

.slide > li figure {
  width: 500px;
  height: 320px;
  overflow: hidden;
  background: black;
}
.slide > li:hover img {
  transform: scale(1.05);
}

.slide > li > a > span {
  font-family: "KoPubDotumBold";
  display: block;
  color: white;
}
.shows__category {
  position: relative;
  width: max-content;
  margin-top: 1em;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  padding: 0 1em 0 1em;
}
.shows__category::before {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  height: 100%;
  background-color: $color-yellow;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.shows__category::after {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  height: 100%;
  background-color: $color-yellow;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.show__title {
  font-size: 1.563rem;
  line-height: 2.5em;
}
.slide > li:last-child {
  width: 8%;
  height: 100%;
}
/* 슬라이드 더보기 */
.slide_more {
  position: relative;
  width: 500px;
  height: 320px;
  text-align: center;
  vertical-align: middle;
}
.slide_more > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "GeographBold";
  font-size: 2em;
  letter-spacing: 0.05em;
}
.slide_more > div::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 100%;
  background-color: $color-yellow;
  left: 50%;
  bottom: -3px;
  transform: translateX(-50%);
  z-index: -1;
  transition: 0.2s;
}
.slide_more > div > span {
  transition: 0.2s;
}
/* 스토어 */
#store .post-link,
.second {
  transition: 0.3s;
}
#store .post-link:hover {
  padding: 0.7em 1em;
  margin: -0.7em -0.5em;
  background: $color-yellow;
}
.first:hover ~ .second {
  margin-left: -1em;
}
#store .post-link:hover > h5,
#store .post-link:hover > span {
  color: black;
}
/* 푸터 */
#footer {
  background-color: #151515;
  color: $color-gray;
  padding: 3em 5em;
}
.footer__wrap {
  width: 1200px;
  margin: 0 auto;
}
.footer__menu {
  display: block;
  content: "";
  clear: both;
}
.footer__menu > li {
  float: left;
}
.footer__menu > li > a {
  font-family: "GeographRegular";
  display: block;
  padding: 1em;
  color: $color-gray;
}
.footer__menu::after,
address::after,
.address::after,
.footer__info::after,
.footer__link::after {
  display: block;
  content: "";
  clear: both;
}
address {
  margin: 1em 0;
}
.address > li {
  float: left;
  padding: 1em;
}
.address > li:first-child > span {
  position: relative;
}
.address > li:first-child > span::after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background: $color-gray;
  right: -1em;
  top: 50%;
  transform: translateY(-50%);
}
.address__part-name,
.address__phone-number {
  font-size: 0.8rem;
}

.copyright {
  display: block;
  float: left;
  margin-right: 2em;
}
.footer__info {
  padding: 1em;
  font-size: 0.8rem;
  margin-top: 1em;
}
.footer__link > li {
  float: left;
  margin-right: 1em;
}
.footer__link > li > a {
  color: $color-gray;
}
.address__part-name {
  display: block;
}

/* 별 */
main {
  position: relative;
}
main i {
  position: absolute;
  background: white;
  border-radius: 50%;
  z-index: -2;
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white;
  animation: twinkle 2s linear infinite;
}

/* 재업 */
