#footer {
  background-color: $color-darkgray;
  color: $color-gray;
  padding: 3em 5em;
}
.footer__wrap {
  max-width: 75rem;
  margin: 0 auto;
}
%li--float {
  float: left;
  padding: 1em;
}
.footer__menu {
  @include clearfix;

  li {
    @extend %li--float;
  }
}

address {
  margin: 1em 0;
}
.footer__address {
  @include clearfix;
  li {
    @extend %li--float;
    &:first-child > span {
      position: relative;

      &::after {
        @include marker-left-Default($color-gray);
        width: 1px;
        height: 100%;
        right: -1em;
      }
    }
    .footer__address__part-name,
    .footer__address__phone-number {
      display: block;
      font-size: 0.8rem;
    }
  }
}

.footer__info {
  padding: 1em;
  margin-top: 1em;
  font-size: 0.8rem;

  @include clearfix;
  .footer__info__copyright {
    display: block;
    float: left;
    margin-right: 2em;
  }
  .footer__info__link {
    @include clearfix;
    li {
      float: left;
      margin-right: 1em;
    }
  }
}
