.row-container {
  max-width: 75em;
  margin: 2.813em auto;
  display: flex;
  @include tablet {
    width: 100%;
    padding: 2em;
  }
}

.dropdown__wrap {
  justify-content: flex-end;
}
.pagination__wrap {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 5em;
}
