
//스크롤 버튼
.btn-scroll {
  @extend %btn;
  position: absolute;
  @include rowCenter;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}
.btn-scroll__mouse {
  position: relative;
  display: block;
  border: 2px solid $color-white;
  width: 1.875em;
  height: 3.125em;
  border-radius: 0.938em;
}
.btn-scroll__wheel {
  display: block;
  position: absolute;
  top: 20%;
  @include rowCenter;
  width: 3px;
  height: 35%;
  background-color: $color-yellow;
  border-radius: 20%;
}
.btn-scroll__text {
  font-family: "GeographThin";
  line-height: 1.2;
  font-size: 1.5rem;
  color: $color-white;
}

//더보기 버튼
.btn-more {
  display: flex;
  position: absolute;
  right: 0px;
  bottom: 2em;
  font-family: "GeographBold";
  font-size: 1em;
  letter-spacing: 0.075em;
  @extend %btn;

  &:hover > .btn-more__text::after {
    height: 100%;
  }
  &:hover .btn-more__icon {
    transform: rotate(180deg);
  }
}
.btn-more__icon {
  color: $color-white;
  font-size: 1.2em;
  margin-bottom: -5px;
  transition: 0.2s;
}
.btn-more__text {
  position: relative;

  &::after {
    @include marker-bottom-Default
    @include rowCenter;
    width: 100%;
    height: 2px;
    bottom: -3px;
    z-index: -1;
  }
  &:hover {
    color: $color-black;
  }
}
