// 섹션 컴포넌트
.content-container {
  position: relative;
  @extend %content-container;

  @include mobile {
    width: 100%;
  }

  .container-title {
    position: relative;
    font-family: "GeographRegular";
    font-size: 2.5rem;
    letter-spacing: 0.025rem;
    width: max-content;
    margin: 2.7em 0;
    @include mobile {
      margin-left: 2.5rem;
    }
  }

  .wrap--flex {
    display: flex;
    justify-content: flex-start;
    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &:not(:nth-child(3)) {
    opacity: 0;
  }
}
//마커 레프트
.marker-left {
  @include marker-left(3px);
}
// 아티클 설정
.article__headline {
  font-family: "KoPubDotumBold";
  font-size: 1.563rem;
  line-height: 1.2;
  margin-top: 0.5em;
}
.article__subtitle {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

//포스트 제목 호버
.post-link {
  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article__headline {
    position: relative;
    width: max-content;
    &::after {
      @include marker-bottom-Default;
      height: 2px;
      bottom: -3px;
      z-index: -1;
    }
  }
  &:hover {
    .article__headline::after {
      width: 100%;
    }
  }

  //썸네일 호버 효과
  figure {
    overflow: hidden;
    @include tablet {
      width: 90%;
    }
    @include mobile {
      width: 80%;
    }
  }
  .post__thumbnail {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    width: 100%;
  }
  &:hover {
    .post__thumbnail {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
