// 서브 헤더
.sub__header {
  position: relative;
  width: 100vw;
  height: 23.438rem;
  background: no-repeat center/cover url("../img/sub/sub_header.jpg");
  .header__title {
    position: absolute;
    @include colCenter;
    left: 15%;
    font-family: "GeographBold";
    font-size: 3.75rem;
    letter-spacing: 0.1rem;
  }
  .marker-left {
    @include marker-left(8px);
  }
}
